#container-person {
	display: flex;
	background-color: transparent;
	height: 80vh;
	margin-top: 10vh;
	overflow: hidden;
}

#container-person img {
	max-width: 40vw;
}

@media (max-width: 768px) {
	#container-person {
		justify-content: center;
		height: 40vh;
		margin-top: auto;
	}
}
