#container-person {
	display: flex;
	position: relative;
	background-color: transparent;
	height: 80vh;
	margin-top: 10vh;
	overflow: hidden;
}

#container-person img {
	max-width: 40vw;
}

@media (max-width: 768px) {
	#container-person {
		justify-content: center;
		height: 30vh;
		margin-top: auto;
		margin-bottom: 0vh;
	}
}

@media (max-width: 768px) and (orientation: landscape) {
	#container-person {
		height: 100vh;
	}

	#container-person img {
		max-width: 30vw;
	}
}
