#results {
	background-color: cyan !important;
	height: 40vh;
	margin-top: 15vh;
	text-align: center;
}
#results h1 {
	color: cornsilk;
}

#results img {
	max-height: 25vh;
}

#results #play {
	margin-top: 1vw;
}
