#resultados{
    background-color: cyan !important;
    height: 40vh;
    margin-top: 15vh;
    text-align: center;
}
h1{
    color: cornsilk;
}

img{
    max-height: 25vh;
}

#play{
    margin-top: 1vw;
}