#container-keyboard {
	background-color: transparent;
	position: relative;
	height: 50vh;
}

@media (max-width: 768px) {
	#container-keyboard {
		height: 40vh;
	}
}

.key {
	background-color: tan;
	height: 10vh;
	width: 50px;
}

.disabledKey {
	background-color: tomato;
}
