.container-fluid {
	background-image: url('../../assets/images/cuaderno.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

@font-face {
	font-family: 'Moon Flower Bold';
	src: url('../../assets/fonts/Moon Flower Bold.ttf');
}

@font-face {
	font-family: 'Cramaten';
	src: url('../../assets/fonts/Cramaten.ttf');
}
