#container-word {
	background-color: transparent;
	position: relative;
	height: 38vh;
}

#container-postit {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	height: 5vh;
	margin-top: 2vh;
}

#text-postit {
	background-image: url('../../../assets/images/postit.jpg');
	padding-left: 1vw;
	padding-right: 1vw;
	color: #000080;
	font-size: 4vh;
	font-family: 'Moon Flower Bold';
}

#container-track {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Moon Flower Bold';
	font-size: 4vw;
	font-weight: 900;
	color: #000080;
	text-align: center;
	justify-content: center;
}

#container-track .spaceBetweenWords {
	margin-right: 2.5vh;
	margin-left: 2.5vh;
}

#container-track .unguessedLetter {
	color: #ec1c24;
}

@media (max-width: 768px) {
	#container-word {
		height: 30vh;
		background-color: transparent;
	}

	#container-postit {
		height: 5vh;
		margin-top: 0vh;
	}

	#text-postit {
		font-size: 3vh;
	}

	#container-track {
		font-size: 6vw;
	}

	#container-track .spaceBetweenWords {
		margin-right: 5vw;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	#container-track {
		font-size: 4vw;
	}
}

@media (max-width: 768px) and (orientation: landscape) {
	#container-word {
		height: unset;
		background-color: transparent;
		height: 53vh;
	}

	#container-postit {
		position: relative;
		top: 0vh;
		height: 10vh;
		background-color: transparent;
	}

	#text-postit {
		font-size: 3vw;
	}

	#container-track {
		font-size: 5vw;
	}

	#container-track .spaceBetweenWords {
		margin-right: 2.5vw;
	}
}
